<div class="container justify-content-center">
    <p class="h4 title"> {{ title }}</p>
    <br>
    <hr>
    <br>
    <div>
        <div>
            <b>ID: </b>
            <p>{{employee.id}}</p>
        </div>
        <div>
            <label> <b>NAME: </b> </label>
            <p>{{employee.name}}</p>
        </div>
        <div>
            <label> <b>SURNAME: </b> </label>
            <p>{{employee.surname}}</p>
        </div>
        <div>
            <label> <b>EMAIL: </b> </label>
            <p>{{employee.email}}</p>
        </div>
        <div>
            <label> <b>DEPARTMENT: </b> </label>
            <p>{{employee.department}}</p>
        </div>
        <div>
            <label> <b>TITLE: </b> </label>
            <p>{{employee.title}}</p>
        </div>
        <div>
            <label> <b>IDENTITY NUMBER: </b> </label>
            <p>{{employee.identityNumber}}</p>
        </div>
    </div>
</div>